* {
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0 0px 1px rgb(0, 0, 0) inset, 0 0 18px rgb(39, 44, 48);
}

.landing-inner {
  margin-top: 20vh;
}

.title {
  line-height: 1.5;
}
/* Cars Card */
.card-width {
  min-width: 400px;
  min-height: 270px;
}
.card-item {
  transition: 0.6s all;
}
.card-item:hover {
  transform: scale(1.05);
}

/* Pagination Links */
.active-page > a {
  background-color: #33383c;
  color: #fff !important;
}
.active-page > a:hover {
  background-color: #474b4f;
}
.page-item {
  cursor: pointer;
}
.pagination-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: flex;
}
